/* base styles ------------------------------ */
:root {
  --border-radius: 0.36rem;
  --box-shadow-b: 0 0 26px rgba(5, 56, 107, 0.16);
  --c-gray-med: #dddddd;
  --c-gray-light: #eeeeee;
  --c-gray-dark: #333333;
  --c-magenta: #ff416c;
  --c-orange: #ff4b2b;
  --c-red: #fe615a;
  --c-white: #ffffff;
  --c-white-med: #f6f5f7;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.App,
#root {
  height: 90%;
}

body {
  background: var(--c-white-med);
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 20px;
  border: 1px solid var(--c-orange);
  background-color: var(--c-orange);
  color: var(--c-white);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:hover {
  cursor: pointer;
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

html {
  height: 100%;
}

.nav-link {
  color: var(--c-orange);
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--c-gray-dark);
  text-decoration: underline;
}
